* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root{
  --color--orange:#F99417;
  --color--black1:#181818;
  --color--black2:#202020;
}
body{
  background-color: var(--color--black1);
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: var(--color--orange);
  font-family: cursive;
}

/* Option Panel */
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.option_panel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color--orange);
  background-color: var(--color--black2);
  font-size: 1rem;
  border-radius: 20px;
  margin-bottom: 5rem;
  padding-bottom: 0.7rem;
}
.pen_color,.background_color{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
}
.background_color{
  margin-bottom: 2rem;
}
.pen_picker,.background_picker{
  width: 5rem;
  height: 2rem;
  margin-right: 1rem;
  border:1px solid var(--color--orange);
  cursor: pointer;
}
.pen_color{
  transform: translateX(-30px);
}

.option_panel > div:nth-child(3),
.option_panel > div:nth-child(4),
.option_panel > div:nth-child(5),
.option_panel > div:nth-child(8){
  border: solid 1px var(--color--orange);
  width: 75%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  cursor: pointer;
  border-radius: 18px;
  background-color: var(--color--black1);

}

.option_panel > div:nth-child(5){
  margin-bottom: 2rem;
  background-color: var(--color--orange);
  color: var(--color--black1);
}
.option_panel > div:nth-child(8){
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.option_panel > div:nth-child(8):hover{
  background-color: var(--color--orange);
  color: var(--color--black1);
}

.slider {
  -webkit-appearance: none;
  width: 75%;
  height: 10px;
  background: var(--color--black1);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-bottom: 1rem;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--color--orange);
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--color--orange);
  cursor: pointer;
  border-radius: 50%
}
/* Option Panel End*/

/* Grid */
.grid_wrapper{
  width: 45rem;
  background-color: var(--color--black2);
  height: 45rem;
  margin-left: 7rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.grid{
  width: 40rem;
  height: 40rem;
  background-color: white;
  border: 1px solid gray;
  display: grid;
}

.square {
  border: 1px solid gray;
}
